$container: 1920px;

$fz: 16px;
$ff: "Gilroy", sans-serif;




$text: #000;
$text-guarantee: #424242;
$color__box: #699B2C;
$color-promo-title: #ffa285;
$color-promo-counter: #ff5c00;
$old-price: #777777;
$text-wt: #fff;
$color-counter: #ff0000;
$color-counter-text: #a62900;
$text-footer: #005cb0;
$text-wb: #d61880;
$bg-button: linear-gradient(270.06deg, #F0028E 29.42%, #782C76 96.84%);
$bg-guarantee: linear-gradient(180deg, rgba(255, 255, 255, 0) 92.02%, #FFFFFF 122.02%), #50cf8c;
$bg-counter: linear-gradient(360deg, #FFF59A 0%, #FFCA28 100%);
$bg-gradient: linear-gradient(186.16deg, #FF3D00 7.48%, #FFE600 141.55%);